body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;

}

/* Start navigation styles */

.navbar-brand {
    margin-top: -1px;

}

.navbar-brand img {
    height: 37.5px;
    margin-top: -8px;
    margin-left: 20px;

}

.navbar-nav li:hover {
    background-color: #ddd;
}

.navbar-nav li a {
    color: #222 !important;

}

#header-container {
    margin-bottom: 0px;
    border-bottom: none;
}

.glyphicon-question-sign {
    margin-right: 5px;
}

/* End of navigation styles */

/* Jumbotron styles */
.jumbotron {
    background-image: url("../img/background.jpg");
    color: white;
    text-align: center;
    height: 441px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.jumbotron h1 {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.product-display {
    width: 100%;
}

.product-heading {
    font-weight: 600;
    text-align: left;
}

.description {
    padding-bottom: 10px;
    text-align: left;
    font-size: 18px;

}
.text-center{
    display:flex;
    align-items: center;
    padding-bottom:0px;
}
.text-center-reverse{
    display:flex;
    align-items:center;
    flex-direction:row-reverse;
    padding-bottom:0;
}

.trial {
    text-align: center;
    padding-top:10px ;
    margin:0;

}

.container-fluid {
    background-color: #f3f2f1;

}
.main-content{
    background-color:white;
    border-bottom:1px solid #f3f2f1;
    padding:20px 0px;
}

.trial-content {
    background-color:white;
    border-bottom: 20px solid #f3f2f1;
    padding:20px 0px;

}
#trial-buttons{
    padding:0 0 20px 0; ;
}
.row {
    padding: 20px 0px;
}

.or {
    padding: 0 64px;
    text-align: center;
}
.buttons{
    margin-top:20px;
    text-align: center
}
.venue-button{
    margin-top:20px;
    text-align: left;
}
.action-button {
    background-color: #393A73;
    color: white;
    border-radius: 1px;
    padding: 15px 35px;
    margin-top:10px;
}
a.action-button:hover{
    color:white;
    text-decoration:none;
}
a.action-button:active{
    color:white;
    outline:none;
}
a.action-button:on{
    color:white;
}


.action-description {
    font-weight: 600;
    text-align: center;
    margin-top: 5px !important;
}

.button-center {
    text-align: center;
}

.info-heading {
    font-weight: bold;
    font-size: 1.17em;
    vertical-align: top;

}

.venue-button {
    margin-bottom: 60px;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

.information {
    text-align: left;
    padding: 3.75px 0;
    line-height: 1.6;

}

.information a {
    color: #666;
    font-size: 13px;

}

#add-venue {
    padding: 10px 20px;

    border-radius: 1px;

}

.social-media-icons a {
    margin: 0.25rem;
    color: #666;
}
.footer-bottom{
    color: #999;
}

.conditions{
    color:#666;
    line-height: 1.6;

}
.conditions:hover{
    color:#666;
}
.terms {
    padding-top:0px;
    font-size:smaller;
    color: #999;
}

/* Media queries */
@media only screen and (min-width: 768px) {
    .navbar-nav {
        float: right;
    }

}
@media only screen and (max-width: 767px){
    .text-center{
        display:block;
    }
    .text-center-reverse{
        display:block;

    }
    .product-display{
        width:100%;
    }
    .product-heading{
        text-align: center;
    }
    .description{
        text-align: center;
    }

}
/* Mobile media queries */

@media only screen and (max-width: 480px) {
    .product-description {
        font-size: 1.8rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 300;
        padding-bottom: 20px;
    }

    .action-button {
        padding: 15px 20px;
    }

    .product-heading {
        text-align: center;
        font-size: 25px;
    }

    .jumbotron {
        margin-bottom: 0;
    }



    .description {
        font-size: 1.4rem;
        text-align: center;
    }

}
@media only screen and (max-width: 320px){
    .or{
        padding: 0 25px;
    }
    .action-description {
        font-size:2rem;
    }
    .trial{
        font-size:1.5rem;
    }
    .product-display{
        width:100%;
    }

}

